<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename = 'style.css')}}">
    </head>
    <body>
        <div class="login">
            <h1>Predict Salary Analysis</h1>
            <form action="{{url_for('predict')}}" method="POST">
                <label for="exp">Enter your Experience</label><br>
                <input type="text" id="exp" name="experience" placeholder="Experience" required="required" /><br><br>
                <label for="t_score">Enter test Score</label><br>
                <input type="text" id="t_score" name="test_score" placeholder="Test Score" required="required" /><br><br>
                <label for="i_score">Enter Interview Score</label><br>
                <input type="text" id="i_score" name="interview_score" placeholder="Interview Score" required="required" /><br><br>

                <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
            </form>
            <br>
            <br>
            <h1>{{prediction_text}}</h1>
        </div>
    </body>
</html>
